nav {
  height: 50px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav h1 {
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px black;
    color: white;
}